/*
    Created on : March 16, 2016, 9:10 PM
    Author     : Spencer Palmer
*/

@import url('normalize.css');
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  display: flex;
  background: #7689A9;
}
article {
  height: 100vh;
}
.base {
  background: #051938;
  width: 33%;
  z-index: 400;
}
.projects {
  background: #152D54;
  width: 30px;
  z-index: 300;
}
.design {
  background: #2C4770;
  width: 30px;
  z-index: 200;
}
.about {
  background: #4D658D;
  width: 30px;
  z-index: 100;
}
